<?xml version="1.0"?>
<config>
	<modules>
		<Stm_Preview>
			<version>1.1.0</version>
		</Stm_Preview>
	</modules>
	<global>
		<models>
			<preview>
				<class>Stm_Preview_Model</class>
			</preview>
		</models>
		<helpers>
			<preview>
				<class>Stm_Preview_Helper</class>
			</preview>
		</helpers>
	</global>
	<frontend>
		<routers>
			<catalog>
				<args>
					<modules>
						<stm_preview before="Mage_Catalog">Stm_Preview_Catalog</stm_preview>
					</modules>
				</args>
			</catalog>
		</routers>
		<layout>
			<updates>
				<preview>
					<file>preview.xml</file>
				</preview>
			</updates>
		</layout>
        <events>
            <catalog_controller_product_init>
                <observers>
                    <preview>
                        <class>preview/observer</class>
                        <method>getConfigurableOptions</method>
                    </preview>
                </observers>
            </catalog_controller_product_init>
        </events>
    </frontend>
</config>